
@{
    ViewData["Title"] = "List Accounts";
}

@*<h2>Register New User</h2>*@

<div class="container" style="height:700px">
    <h2 style="margin-top:20px">List of All Account</h2>
    <div class="card" style="margin-top:20px">
        <div class="card-header text-white bg-secondary">
            [Total: 5 Accounts]
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Registration Date</th>
                    <th>Last Login Date</th>
                </tr>

            </table>
        </div>
    </div>
</div>