@using Comptes_WebAPI.Models
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Password Recover";
}

<div class="container col-6" style="margin-top:10px;">
    <div class="card border-secondary">
        <div class="card-header text-white bg-secondary">
            <strong>Login</strong>
        </div>

        <div class="card-body">
            <form asp-action="ResetPass" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Username" />
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" required class="form-control" type="password" />
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" required class="form-control" type="password" />
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" required class="form-control" type="password" />
                </div>

                <div class="form-group">
                    <div required class="g-recaptcha" data-sitekey="6LfFtJoUAAAAAJr_Sa2aadi9-uzzBIK5RdlFCiNf"></div>
                    <span id='message-captcha'></span>
                </div>

                <input value="Reset" type="submit" class="btn btn-sm btn-outline-primary float-right" />
            </form>
        </div>
    </div>

    <script src='https://www.google.com/recaptcha/api.js' async defer type="text/javascript"></script>

    <script>
        $("form").submit(function (event) {

            var recaptcha = $("#g-recaptcha-response").val();
            if (recaptcha === "") {
                event.preventDefault();
                $('#message-captcha').html('Please check the Captcha').css('color', 'red');
            }
        });
    </script>
</div>



