<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Account Management</title>

    <script src="~/Content/jQuery/jquery-3.3.1.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-action="Index" asp-controller="Compte">Gestion Compte</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Compte">Comptes</a>
                </li>
            </ul>
            <div class="pull-right text-white">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary btn-info" asp-controller="Compte" asp-action="Login">Se connecter</a>
                        <a class="btn btn-secondary btn-info" asp-controller="Compte" asp-action="Create">S'inscrire</a>
                    </div>
                }
                else
                {
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary btn-info" asp-action="Detail" asp-route-username="@User.Identity.Name">
                            @User.Identity.Name
                        </a>
                        <a class="btn btn-secondary btn-info" asp-controller="Compte" asp-action="LogOut">Se déconnecter</a>
                    </div>
                }
            </div>
        </div>
    </nav>



    <div class="container">
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; 2019 - Gestion Compte</p>
    </footer>


</body>
</html>
